.mat-table {
    width: 100%;
    height: 60%;
  } 
  .main{
      width: 90%;
      margin: auto;
      margin-top: 20px;
  }

  button:hover,.mat-icon:hover{
      cursor: pointer;
  }
  .mat-icon{
      margin-left: 10%;
  }
  