<app-navbar>
  <div class="example-spacer">
    <span>HOME</span>
    <span>ABOUT US</span>
    <span>CONTACT US</span>
  </div>
</app-navbar>
<mat-card>
  <div class="leftDiv">
    <h1>Welcome to</h1>
    <h1>BookSafe!</h1>
    <h2>Everything you need to manage your Library!</h2>
    <p>
      Librite is a modern Library Management System designed to seamlessly run
      any type of institutional library ...
    </p>
    <mat-card-actions>
      <button  mat-raised-button color="primary" (click)="openDialog()">
        LOGIN
      </button>
      <button mat-raised-button color="primary" (click)="openDialog1()">
        SIGNUP
      </button>
    </mat-card-actions>
  </div>
  <div class="rightDiv">
    <img class="logohome" src="assets\image\heroImage.png" alt="" />
  </div>
</mat-card>
