<mat-toolbar color="primary">
  <span><h1 routerLink="">Librite</h1></span>
  <app-user-info-dropdown></app-user-info-dropdown>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer class="leftdrawer" mode="side" opened>
    <div class="profilepicDiv">
      <img src="assets\image\585e4beacb11b227491c3399.png" alt="" />
      <h2>{{userName}}</h2>
      <h4>Admin</h4>
    </div>
    <hr />
    <div class="optionDIv">
      <div class="optionName" routerLink="/admin">
        <div>
          <mat-icon>dashboard</mat-icon>
          <h2 class="optionTitle">dashboard</h2>
        </div>
      </div>
      <div class="optionName" routerLink="./totalbooks">
        <div>
          <mat-icon>auto_stories</mat-icon>
          <h2 class="optionTitle">Books</h2>
        </div>
      </div>
      <div class="optionName" routerLink="./issuedbooks">
        <div>
          <mat-icon>menu_book</mat-icon>
          <h2 class="optionTitle">Issued Books</h2>
        </div>
      </div>

      <div class="optionName" routerLink="./requestedbook">
        <div>
          <mat-icon>bookmark_add</mat-icon>
          <h2 class="optionTitle">Requested Books</h2>
        </div>
      </div>
      <div class="optionName" routerLink="./userlist">
        <div>
          <mat-icon>group</mat-icon>
          <h2 class="optionTitle">Users</h2>
        </div>
      </div>
      <div class="optionName" routerLink="./setting">
        <div>
          <mat-icon>settings</mat-icon>
          <h2 class="optionTitle">Settings</h2>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-stats-board></app-stats-board>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
