<app-navbar></app-navbar>
<mat-card>
  <div class="leftDiv">
    <mat-card-title>Login to Your Account</mat-card-title>
    <mat-card-subtitle>Login using social networks</mat-card-subtitle>
    <div class="social-meida-div">
      <img src="assets\image\facebook.png" alt="" />
      <img src="assets\image\gmail.png" alt="" />
      <img src="assets\image\twitter.png" alt="" />
    </div>
    <div class="divider-div">
        <h3>OR</h3>
    </div>
    <div class="email-signup-div">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput />
      </mat-form-field>
    </div>
    <div class="signin-button-div">
        <button (click)="directToDashboard()" mat-raised-button color="warn">Sign In</button>
    </div>
  </div>
  <div class="rightDiv">
    <h1>New Here ?</h1>
    <p>Sign Up and discover a great</p>
    <p>amount of new opportunity</p>
    <button (click)="directToDashboard()" mat-raised-button color="warn">Sign Up</button>
  </div>
</mat-card>
