<h1 mat-dialog-title>ADD BOOKS</h1>
<div mat-dialog-content>
 <form [formGroup]="bookForm">
  <mat-form-field appearance="outline">
    <mat-label>Book Name</mat-label>
    <input formControlName="bookName" matInput placeholder="Enter Book Name" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Book Author</mat-label>
    <input formControlName="authorName" matInput placeholder="Enter Author Name" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Book Category</mat-label>
    
    <mat-select formControlName="bookCategory" placeholder="category">
      <mat-option value="fiction">Fiction</mat-option>
      <mat-option value="thriller">Thriller</mat-option>
      <mat-option value="motivitational">Motivitational</mat-option>
      <mat-option value="autobiography">AutoBiography</mat-option>
      <mat-option value="selfhelp">SelfHelp</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Book Quantity</mat-label>
    <input formControlName="bookQuantity" type="number" matInput placeholder="Enter Book Quantity" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
   <textarea formControlName="description" matInput></textarea>
  </mat-form-field>
 </form>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close="">CLOSE</button>
    <button mat-raised-button color="primary" (click)="addBook()" >SAVE</button>
</div>
