<div>
  <input type="text" name="search" id="" [(ngModel)]="search" placeholder="Enter your Search">
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Company</th>
        <th >City</th>
        <th>Angular Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of datas | filter:search">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.company}}</td>
        <td style="margin-left:20px">{{data.city}}</td>
        <td>{{data.angularProfency | rating}}</td>
      </tr>
    </tbody>
  </table>
</div>
